streamlit==1.39.0
langchain==0.3.3
langchain-chroma==0.1.4
langchain-community==0.3.2
langchain-core==0.3.10
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langchain-together==0.2.0
chroma-hnswlib==0.7.6
openai==1.51.2
protobuf==3.20.*
python-dotenv==1.0.1
pysqlite3-binary==0.5.4